/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-feb-2014, 8.05.11
    Author     : paco
*/

body{font-family: "Open Sans", Georgia; color:#444;margin: 0px;padding: 0px;}
h1{font-size: 48px;}

.screenblock{ height: 800px; padding:0px 0px 0px; text-align: center;}
#block0{background: url("../images/vallecasentino.jpg") 0px -150px no-repeat transparent;
        background-size: cover; color:#f6f6c3; overflow: auto;}
#block0 h1{margin-top: 200px;}

#block1{background: url("../images/castelloppinitida.jpg") 0px -150px no-repeat transparent;
        background-size: cover;padding-top: 0;margin:0px 0px 0px;overflow: hidden;}
#parallax-block1 {position: relative;left:0px;background-color: #fff;top:200px;
    opacity: 0.6;-moz-opacity: 0.6;filter: alpha(opacity=6.0);padding: 20px 40px 40px;
    overflow: hidden; margin-top: 200px;width:100%;font-size:24px;}

#block2{background: url("../images/pieveromena.jpg") top left no-repeat transparent;
        background-size: cover;overflow: auto;}
#block2 div{margin-top: 200px;}

#parallax-it-right {
position: relative;
font-size: 160px;
left: 80px;
color: #C5C3DE;
opacity: 0.25;
-moz-opacity: 0.25;
filter: alpha(opacity=2.5);
overflow: hidden;
width: 900px;
}

#parallax-it-left {
position: relative;
font-size: 120px;
left: -160px;
color: #C5C3DE;
opacity: 0.5;
-moz-opacity: 0.5;
filter: alpha(opacity=5);
overflow: hidden;
}

#parallax-it {
padding: 0;
font-size: 80px;
position: relative;
}

#examples-parallax {
padding-top: 200px;
height: 800px;
margin-bottom: -600px;
overflow: hidden;
}
